<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a post report from <%= @post_reporter_name %> against the post <%= @post_url %> </p>
    <p>
    Reason<br>
    --------------------------
    </p>
    <p><%= @reason %></p>
    <p> Please visit the link: <%= @post_url %> </p>
  </body>
</html>
